[Unit]
Description=Around New Jersey refresh at 6:30am and 2:00pm Eastern

[Timer]
OnCalendar=*-*-* 06:30:00
OnCalendar=*-*-* 14:00:00
Persistent=true
AccuracySec=1min

[Install]
WantedBy=timers.target
